.modal {
  .dlt-modal {
    .modal-body {
      .dlt-icon {
        border: 0.1rem solid #eceff3;
        background: linear-gradient(
          180deg,
          #f8fafb 0%,
          rgba(248, 250, 251, 0) 120%
        );
        -webkit-backdrop-filter: blur(0.25rem);
        backdrop-filter: blur(0.25rem);
        border-radius: 999rem;
        -webkit-border-radius: 999rem;
        -moz-border-radius: 999rem;
        -ms-border-radius: 999rem;
        -o-border-radius: 999rem;
        padding: 1.2rem;
        display: inline-block;

        span {
          background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.12) 0%,
              rgba(255, 255, 255, 0) 100%
            ),
            #ffffff;
          box-shadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.08),
            0px 1px 2px 0px rgba(164, 172, 185, 0.24),
            0px 9px 16px -4px rgba(0, 0, 0, 0.13),
            0px -7px 10px -5px rgba(0, 0, 0, 0.06) inset;
          border-radius: 99rem;
          -webkit-border-radius: 99rem;
          -moz-border-radius: 99rem;
          -ms-border-radius: 99rem;
          -o-border-radius: 99rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3.6rem;
          height: 3.6rem;
        }
      }
    }
  }
}

.modal-content {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: none;
}
