@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
:root.default {
  --primary-color: #3085FE;
  --secondary-color: #bebebe;
  --background-color: #fbfbfb;
  --side-bg: rgba(48, 133, 254, 0.2196078431);
  --text-color: #000000;
}

.header {
  width: calc(100% - 240px);
  position: fixed;
  top: 0;
  right: 0;
  
}
.header .navbar {
  padding: 1rem 2rem;
  height: 6.89rem;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #eceff3;
}

.navbar-collapse .btn {
  /* background-color: var(--background-color); */
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
  color: #3085FE;
}
.navbar-collapse .btn svg {
  width: 1.6rem;
  height: 1.6rem;
}
.navbar-collapse .btn svg path {
  /* fill: var(--primary-color); */
  fill: #3085FE;
}
.navbar-collapse .btn:active {
  border-color: transparent;
}
.navbar-collapse .btn.dropdown-toggle {
  font-size: 1.4rem;
}
.navbar-collapse .btn.dropdown-toggle::after {
  content: none;
}
.navbar-collapse .btn.dropdown-toggle:active {
  border-color: transparent;
}
.navbar-collapse .dropdown .dropdown-menu.show {
  right: 0 !important;
  left: inherit !important;
  margin-top: 1.2rem;
}
.navbar-collapse .dropdown .dropdown-menu {
  border: 0rem;
  border-radius: 0rem;
  padding: 1rem 0rem;
  min-width: 15rem;
  max-height: 33rem;
  overflow: auto;
}
.navbar-collapse .dropdown .dropdown-menu a {
  font-size: 1.4rem;
  display: block;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  /* color: var(--primary-color); */
  color: #3085FE;
}
.navbar-collapse .dropdown .dropdown-menu a svg path {
  /* fill: var(--primary-color); */
  fill: #3085FE;
}
.navbar-collapse .dropdown .dropdown-menu a:hover {
  /* background: var(--primary-color); */
  background: #3085FE;
  color: #ffffff;
}
.navbar-collapse .dropdown .dropdown-menu a:hover svg path {
  fill: #ffffff;
}
.navbar-collapse .dropdown .dropdown-menu a:active {
  /* background: var(--primary-color); */
  background: #3085FE;
  color: #ffffff;
}
.navbar-collapse .dropdown .dropdown-menu a:active svg path {
  fill: #ffffff;
}
.navbar-collapse .header-nav .form-group {
  background-color: #ffffff;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar-collapse .header-nav .form-group .form-control {
  min-width: 20rem;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.3rem 1.3rem;
}
.navbar-collapse .header-nav .form-group .btn.form-label svg path {
  /* fill: var(--primary-color); */
  fill: #3085FE;
}

.sidebar-wrapper {
  width: 24rem;
  height: 100vh;
  position: fixed;
  z-index: 99;
  background: linear-gradient(180deg, rgba(0, 106, 255, 0.49) 0%, rgba(13, 0, 255, 0.6) 100%), url(../img/sidebar-bg.jpg) lightgray 50%/cover no-repeat;
}
.sidebar-wrapper .sidebar-content {
  padding: 1rem;
}
.sidebar-wrapper .sidebar-content .aside-nav {
  max-height: calc(100vh - 9rem);
  overflow: overlay;
  padding: 0rem 0.6rem;
}
.sidebar-wrapper .sidebar-content .aside-nav ul {
  list-style: none;
  margin-bottom: 0rem;
  padding: 0rem;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li:not(:last-child) {
  margin-bottom: 0.8rem;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .menu-title {
  display: block;
  font-size: 1.4rem;
  color: #ffffff;
  padding: 0rem 0.8rem 0.8rem;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 0.6rem;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link svg path {
  fill: #ffffff;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link svg.chevron path {
  stroke: #ffffff;
  fill: none;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link .dropdown {
  transform: Rotate(0deg);
  -webkit-transform: Rotate(0deg);
  -moz-transform: Rotate(0deg);
  -ms-transform: Rotate(0deg);
  -o-transform: Rotate(0deg);
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link .dropdown.rotate {
  transform: Rotate(180deg);
  -webkit-transform: Rotate(180deg);
  -moz-transform: Rotate(180deg);
  -ms-transform: Rotate(180deg);
  -o-transform: Rotate(180deg);
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link span {
  margin-left: 1rem;
  display: flex;
  line-height: 1.2rem;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link:active {
  background: rgba(255, 255, 255, 0.415);
  border-radius: 0.6rem;
  font-weight: 600;
  color: #ffffff;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link:active svg path {
  fill: #ffffff;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link:active svg.chevron path {
  stroke: #ffffff;
  fill: none;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link.active {
  background: rgba(255, 255, 255, 0.415);
  border-radius: 0.6rem;
  font-weight: 600;
  color: #ffffff;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link.active svg path {
  fill: #ffffff;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .drop-link.active svg.chevron path {
  stroke: #ffffff;
  fill: none;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .sub-menu {
  display: none;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .sub-menu.inner {
  background: rgba(255, 255, 255, 0.2);
  padding: 1.2rem 0px;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .sub-menu .drop-link {
  padding: 0.8rem;
  position: relative;
}
.sidebar-wrapper .sidebar-content .aside-nav ul li .sub-menu .drop-link.inner {
  padding-left: 2.5rem;
}
.sidebar-wrapper .sidebar-content .aside-nav::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 9rem;
  -webkit-border-radius: 9rem;
  -moz-border-radius: 9rem;
  -ms-border-radius: 9rem;
  -o-border-radius: 9rem;
}
.sidebar-wrapper .sidebar-content .aside-nav::-webkit-scrollbar {
  background-color: #ffffff;
  width: 0.5rem;
  border-radius: 9rem;
}
.sidebar-wrapper .sidebar-content .aside-nav::-webkit-scrollbar-thumb {
  background-color: #f6f6f6;
  border-radius: 9rem;
  -webkit-border-radius: 9rem;
  -moz-border-radius: 9rem;
  -ms-border-radius: 9rem;
  -o-border-radius: 9rem;
}
.sidebar-wrapper .sidebar-content .navbar-brand {
  width: 17.1rem;
  padding: 0 0.8rem 2rem 0.8rem;
  display: block;
}
.sidebar-wrapper .sidebar-content .navbar-brand .main-logo {
  max-width: 15rem;
}
.sidebar-wrapper .sidebar-content .navbar-brand .logo-icon {
  display: none;
  max-width: 7rem;
}
.sidebar-wrapper.sidebar-wrapper.side-wrapper-w {
  width: 10rem;
}
.sidebar-wrapper.sidebar-wrapper.side-wrapper-w .sidebar-content .aside-nav ul li .drop-link {
  justify-content: center;
}
.sidebar-wrapper.sidebar-wrapper.side-wrapper-w .sidebar-content .aside-nav ul li .drop-link span,
.sidebar-wrapper.sidebar-wrapper.side-wrapper-w .sidebar-content .aside-nav ul li .drop-link .fa-chevron-down,
.sidebar-wrapper.sidebar-wrapper.side-wrapper-w .sidebar-content .aside-nav ul li .drop-link .chevron {
  display: none;
}
.sidebar-wrapper.sidebar-wrapper.side-wrapper-w .sidebar-content .aside-nav ul li .sub-menu li .drop-link {
  padding: 0.8rem;
}

.card {
  background: #ffffff;
  box-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.0705882353);
  margin: 0 0 2.4rem;
  display: inline-block;
  width: 100%;
  border: 0;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.card .card-body {
  position: relative;
  padding: 1.5rem;
}
.card .card-body .card-head {
  padding: 0rem 0rem 1rem;
  border-bottom: 0.1rem solid #b2b2b2;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card-body .card-head .card-title {
  font-size: 1.6rem;
  margin-bottom: 0rem;
}
.card .card-body .logs {
  max-height: 36rem;
  overflow: auto;
}
.card .card-body .logs::-webkit-scrollbar {
  display: none;
}
.card .card-body .logs li .user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: #ebedf8;
  border: 0.1rem solid #1e3e5f;
  border-radius: 50%;
  position: relative;
}
.card .card-body .logs li .user .dot {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
}
.card .card-body .logs li:not(:last-child) {
  border-bottom: 0.1rem solid #b2b2b2;
  margin-bottom: 0.8rem;
  padding-bottom: 0.8rem;
}
.card .card-body .logs li span {
  font-size: 1.2rem;
}
.card .card-body .logs li p {
  font-size: 1.4rem;
}
.card .card-body .img-uploader .form-label {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem dashed #818898;
  cursor: pointer;
}
.card .card-body .img-uploader .form-label .placeholder-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-body .btn-more {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 0rem;
}
.card .card-body .detail-img {
  max-width: 10rem;
}
.card .card-body .card-footer {
  padding: 0rem 0rem 1rem;
  border-bottom: 0.1rem solid #b2b2b2;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0rem;
  padding: 1rem 0rem 0rem;
  margin: 1rem 0rem 0rem;
  border-top: 0.1rem solid #b2b2b2;
  background: transparent;
}
.card .card-body .logo .form-group {
  position: relative;
}
.card .card-body .logo .form-group .form-label {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(48, 133, 254, 0.2196078431);
  border-radius: 1rem;
  margin: 0 auto;
  font-size: 2.2rem;
  /* color: var(--primary-color); */
  color: #3085FE;
  z-index: 1;
  position: relative;
}
.card .card-body .logo .form-group::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.01rem;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: #b2b2b2;
  z-index: 0;
}
.card .card-body .d-text {
  /* color: var(--primary-color); */
  color: #3085FE;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 171.429%;
  letter-spacing: -0.014rem;
  margin-bottom: 0rem;
}

.top-cards-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.card.dash-cards {
  border-bottom: 3px solid #3085FE;
}
.card.dash-cards .card-body h1 {
  font-size: 1.6rem;
  color: #595959;
  margin-bottom: 0;
}
.card.dash-cards .card-body h2 {
  font-size: 1.8rem;
  color: #3085FE;
}
.card.dash-cards .card-body p {
  font-size: 1rem;
  color: #878a99;
}
.card.dash-cards .dash-count {
  margin-left: 1rem;
}
.card.dash-cards .dash-count .dash-title {
  font-size: 1.4rem;
  color: #878a99;
}
.card.dash-cards .dash-count p {
  font-weight: 500;
  font-size: 2.2rem;
  color: #000000;
  margin: 0 0 0;
}
.card.dash-cards .progress.progress-sm {
  height: 0.3rem;
  background: #ebedf8;
}
.card.dash-cards .progress.progress-sm .progress-bar {
  background: #25476a;
}
.card.dash-cards p.text-muted {
  font-size: 1.2rem;
}

.form-control,
.form-label,
.form-select {
  font-size: 1.4rem;
}

.form-control,
.form-select {
  padding: 1rem;
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
}

.form-label {
  font-weight: 500;
}
.form-label.label-img {
  display: flex;
  justify-content: center;
  border: 0.2rem dashed #dee2e6;
  padding: 2.4rem 1rem;
}
.form-label.label-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 16rem;
}
.form-label.placeholder-label {
  cursor: pointer;
  width: 100%;
  padding: 2rem;
  border: 0.1rem dashed #dadde1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.form-label.placeholder-label p {
  color: #949ca9;
}
.form-label.placeholder-label img {
  object-fit: contain;
  width: 100%;
  height: 12rem;
}

.card.check-in .card-body {
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.card.check-in .card-body .btn.btn-link {
  width: 10rem;
  height: 10rem;
  background: radial-gradient(rgba(45, 145, 60, 0.1019607843), rgba(45, 145, 60, 0.6784313725));
  color: #46912d;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  box-shadow: 0px 0 11px 3px rgba(45, 145, 55, 0.5019607843);
  border-radius: 99rem;
  -webkit-border-radius: 99rem;
  -moz-border-radius: 99rem;
  -ms-border-radius: 99rem;
  -o-border-radius: 99rem;
}
.card.check-in .card-body .btn.btn-link.checkout {
  background: radial-gradient(rgba(145, 45, 45, 0.1019607843), rgba(216, 0, 0, 0.68));
  color: #bf0000;
  box-shadow: 0px 0 11px 3px rgba(145, 45, 45, 0.5019607843);
}

.dropdown .btn.dropdown-toggle::after {
  content: none;
}
.dropdown .dropdown-menu.show {
  right: 0 !important;
  left: inherit !important;
  margin-top: 1.2rem;
}
.dropdown .dropdown-menu {
  border: 0rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  padding: 1rem 0rem;
  min-width: 15rem;
}
/* custom change */
.dropdown .dropdown-menu a {
  font-size: 1.4rem;
  display: block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  /* color: var(--primary-color); */
  color: #03a9f4;
}
.dropdown .dropdown-menu a svg path {
  /* fill: var(--primary-color); */
  fill: #03a9f4;
}
.dropdown .dropdown-menu a:hover {
  /* background: var(--primary-color); */
  background: #03a9f4;
  color: #ffffff;
}
.dropdown .dropdown-menu a:hover svg path {
  fill: #ffffff;
}
.dropdown .dropdown-menu a:active {
  /* background: var(--primary-color); */
  background: #03a9f4;
  color: #ffffff;
}
.dropdown .dropdown-menu a:active svg path {
  fill: #ffffff;
}
.dropdown .dropdown-menu .input-group {
  width: 28rem;
}
.dropdown .dropdown-menu.notification-dropdown {
  width: 40rem;
  padding: 1.4rem;
}
.dropdown .dropdown-menu.notification-dropdown li:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}
.dropdown .dropdown-menu.notification-dropdown li:last-of-type a {
  background-color: #5C2882;
  color: white;
  padding: 0.6rem;
}
.dropdown .dropdown-menu.notification-dropdown li:last-of-type a:hover {
  background-color: #71359c;
}
.dropdown .dropdown-menu.notification-dropdown li:not(:last-of-type) {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #e7e7e7;
}
.dropdown .dropdown-menu.notification-dropdown p {
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0rem 0 0.4rem 4.3rem;
}
.dropdown .dropdown-menu.notification-dropdown .time {
  width: 100%;
  display: inline-block;
  text-align: end;
}
.dropdown .dropdown-menu.notification-dropdown a {
  all: unset;
  cursor: pointer;
}
.dropdown .dropdown-menu.notification-dropdown a:hover {
  all: unset;
  cursor: pointer;
}
.dropdown.action-drop .dropdown-menu {
  border: 1px solid #e7e7e7;
  min-width: 100%;
}
.dropdown.action-drop .dropdown-menu li:last-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}
.dropdown.action-drop .dropdown-menu li:not(:first-of-type) {
  padding-top: 0.5rem;
}
.dropdown.action-drop .dropdown-menu .dropdown-item {
  justify-content: center;
}
.dropdown.action-drop .dropdown-menu .dropdown-item .badge {
  width: 100%;
}
.dropdown.action-drop .dropdown-menu a:hover {
  background: transparent;
}
.dropdown.action-drop .dropdown-menu a:hover span {
  box-shadow: 0px 0px 5px;
}

.btn {
  font-size: 1.4rem;
  border-radius: 0.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.btn span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-primary {
  /* background-color: var(--primary-color); */
  background-color: #3085FE;
  color: #ffffff;
  /* border: 0.1rem solid var(--primary-color); */
  border: 0.1rem solid #3085FE;
}
.btn.btn-primary:hover {
  background-color: #3085FE;
  /* border: 0.1rem solid var(--primary-color); */
  border: 0.1rem solid #3085FE;
}
.btn.btn-primary:active {
  background-color: #3085FE;
  /* border: 0.1rem solid var(--primary-color); */
  border: #3085FE;
}

.btn.btn-outline-primary {
  /* border: 0.1rem solid var(--primary-color); */
  border: 0.1rem solid #3085FE;
  /* color: var(--primary-color); */
  color: #3085FE;
}
.btn.btn-outline-primary:hover {
  background-color: #3085FE;
  /* border: 0.1rem solid var(--primary-color); */
  border: 0.1rem solid #3085FE;
  color: #ffffff;
}
.btn.btn-outline-primary:hover svg path {
  stroke: #ffffff;
  fill: #ffffff;
}
.btn.btn-outline-primary:active, .btn.btn-outline-primary.active {
  background-color: #3085FE;
  /* border: 0.1rem solid var(--primary-color); */
  border: 0.1rem solid #3085FE;
  color: #ffffff;
}
.btn.btn-outline-primary:active svg path, .btn.btn-outline-primary.active svg path {
  stroke: #ffffff;
  fill: #ffffff;
}

.btn.btn-secondary {
  /* background-color: var(--secondary-color); */
  background-color: #bebebe;
  color: #ffffff;
  /* border: 0.1rem solid var(--secondary-color); */
  border: 0.1rem solid #bebebe;
}
.btn.btn-secondary:hover {
  background-color: #bebebe;
  border: 0.1rem solid #bebebe;
}
.btn.btn-secondary:hover svg path {
  stroke: #ffffff;
  fill: #ffffff;
}
.btn.btn-secondary:active {
  background-color: #b1b1b1;
  border: 0.1rem solid #bebebe;
}
.btn.btn-secondary:active svg path {
  stroke: #ffffff;
  fill: #ffffff;
}

.text-primary {
  /* color: var(--primary-color) !important; */
  color: #3085FE !important;
}

.bg-primary {
  /* background: var(--primary-color) !important; */
  background: #3085FE !important;
}

.bg-primary-subtle {
  background-color: #cfe2ff;
  border: 0.1rem solid #03a9f4;
}

.bg-secondary-subtle {
  background-color: #bebebe7c;
  border: 0.1rem solid #bebebe;
}

.bg-success-subtle {
  background-color: #0272432d;
  border: 0.1rem solid rgb(25 135 84);
}

.bg-danger-subtle {
  background-color:  #df131d27;
  border: 0.1rem solid #df131d;
}

.btn.btn-link-2 {
  color: var(--primary-color);
  padding: 0rem;
  text-decoration: underline;
  font-weight: 500;
}

.custom-tool {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.4rem;
}

.table-head {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-head .search-icon {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
.table-head .form-control.search-control {
  padding-left: 3.8rem;
  min-width: 30rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.table-head h5 {
  color: #25476a;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0rem;
}

table th,
table td {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
table thead th {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem !important;
  height: 3.6rem;
  background-color: #f6f8fa !important;
  color: #666d80 !important;
}
table tr td {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem !important;
}
table tr td .dropdown .btn::after {
  content: none;
}
table tr td .btn {
  font-size: 1.2rem;
}
table tr td .attendance {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: 0.1rem solid;
  font-size: 1rem;
  text-align: start;
  min-width: 14rem;
}
table tr td .attendance span {
  color: #666d80;
  font-size: 0.8rem;
}
table tr td .attendance p {
  margin-bottom: 0rem;
}
table tr td .attendance .attendance-type .title {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 0.4rem;
}
table tr td .attendance.sun {
  background-color: #f3fbff;
  color: #61caff;
}
table tr td .attendance.sun .attendance-type .title {
  background-color: #89d3f8;
  color: #f3fbff;
}
table tr td .attendance.mon {
  background-color: #ffeff6;
  color: #fc1885;
}
table tr td .attendance.mon .attendance-type .title {
  background-color: #f694bf;
  color: #ffeff6;
}
table.time-table .btn.btn-time {
  width: 6rem;
  height: 4rem;
}
table.inner-table {
  margin: 0;
}
table.inner-table > :not(caption) > * > * {
  background: #f6f8fa;
}
table td.wrapper {
  background: #f6f8fa;
  padding: 0 !important;
  border: none;
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0rem;
}
.table-footer .sorted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.table-footer .sorted .dropdown .dropdown-menu {
  min-width: 100%;
}
.table-footer .sorted .dropdown .btn {
  color: #36394a;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 142.857%;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.table-footer .sorted .dropdown .btn::after {
  content: none;
}
.table-footer .sorted .dropdown .btn span {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-footer .sorted h5 {
  color: #25476a;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-align: start;
}
.user .user-icon {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.24);
  border-radius: 99rem;
  -webkit-border-radius: 99rem;
  -moz-border-radius: 99rem;
  -ms-border-radius: 99rem;
  -o-border-radius: 99rem;
  color: #666d80;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user .title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0rem;
}
.user p {
  color: #666d80;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 157.143%;
  letter-spacing: -0.014rem;
  font-size: 1rem;
}

.nav-pills {
  background: #f2f2f2;
  display: inline-flex;
  padding: 0.6rem;
  border-radius: 0rem;
}
.nav-pills .nav-link {
  border-radius: 0rem;
  /* color: var(--primary-color); */
  color: #3085FE;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.8rem 2rem;
  line-height: normal;
}
.nav-pills .nav-link.active {
  /* background: var(--primary-color); */
  background: #3085FE;
  color: #ffffff;
}

.wizard-tabs {
  overflow: auto hidden;
  scrollbar-width: none;
  min-height: 6rem;
}
.wizard-tabs .nav {
  column-gap: 2.4rem;
  align-items: center;
  padding: 0rem;
  background: transparent;
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}
.wizard-tabs .nav .nav-item .border-top-item {
  width: 1rem;
  border: 0.1rem dashed #a4acb9;
  border-radius: 0.2rem;
}
.wizard-tabs .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  column-gap: 1.2rem;
  padding: 0rem;
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
  position: relative;
}
.wizard-tabs .nav .nav-item .nav-link::before {
  bottom: -0.4rem;
  content: "";
  display: block;
  height: 0.2rem;
  width: 100%;
  left: 0;
  position: absolute;
  background: rgb(255, 255, 255);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.wizard-tabs .nav .nav-item .nav-link::after {
  bottom: -0.4rem;
  content: "";
  display: block;
  height: 0.2rem;
  left: 50%;
  position: absolute;
  background: #3085FE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  border-radius: 0.2rem;
}
.wizard-tabs .nav .nav-item .nav-link h6 {
  color: #818898;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: -0.024rem;
  margin-bottom: 0rem;
  text-align: start;
}
.wizard-tabs .nav .nav-item .nav-link h5 {
  color: #000000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 171.429%;
  letter-spacing: -0.014rem;
  margin-bottom: 0rem;
  text-align: start;
}
.wizard-tabs .nav .nav-item .nav-link.active {
  background: transparent;
}
.wizard-tabs .nav .nav-item .nav-link.active::after {
  width: 100%;
  left: 0;
}
.wizard-tabs .nav .nav-item .nav-link.active h6 {
  /* color: var(--primary-color); */
  color: #3085FE;
}
.wizard-tabs .nav .nav-item .nav-link.active h5 {
  /* color: var(--primary-color); */
  color: #3085FE;
}

.paggination-nav .paggination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
  list-style: none;
}
.paggination-nav .paggination .page-item .page-link {
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--primary-color); */
  color: #3085FE;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 171.429%;
  letter-spacing: -0.014rem;
}
.paggination-nav .paggination .page-item .page-link.active {
  border-radius: var(--radius-full, 9999px);
  background: #fff;
  box-shadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.24);
}

.login-content {
  height: 100vh;
}
.login-content .login-img-card {
  width: 100%;
  height: 100vh;
  position: relative;
}
.login-content .login-img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.login-content .login-img-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 22, 22, 0.4196078431);
  z-index: 1;
}
.login-content .card.login-card {
  width: 50rem;
  border-radius: 0rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
}
.login-content .card.login-card .card-body {
  padding: 4rem;
}
.login-content .card.login-card .form-control {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.8rem 0.8rem 0.8rem 3rem;
}
.login-content .card.login-card .form-control::placeholder {
  color: #b2b2b2;
}
.login-content .card.login-card .form-label {
  font-size: 1.4rem;
  font-weight: 400;
}
.login-content .card.login-card .otp-input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login-content .card.login-card .otp-input .form-control {
  padding: 0.8rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
}
.login-content .card.login-card .icon-input svg {
  position: absolute;
  bottom: 50%;
  left: 0.9rem;
  transform: translateY(50%);
}
.login-content .card.login-card .icon-input svg path {
  fill: var(--primary-color);
}
.login-content .card.login-card .icon-input i {
  position: absolute;
  bottom: 50%;
  left: 0.9rem;
  transform: translateY(50%);
}
.login-content .card.login-card .icon-input .password-show {
  position: absolute;
  bottom: 50%;
  right: 0.9rem;
  transform: translateY(50%);
}
.login-content .card.login-card .icon-input .password-show svg {
  position: relative;
  bottom: inherit;
  left: 0;
  transform: none;
}
.login-content .card.login-card .icon-input .password-show i {
  position: relative;
  bottom: inherit;
  left: 0;
  transform: none;
}

.form-control:focus {
  border-color: var(--primary-color);
}

.user-role {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.8rem;
  padding: 1.8rem;
}

.modal .dlt-modal .modal-body .dlt-icon {
  border: 0.1rem solid #eceff3;
  background: linear-gradient(180deg, #f8fafb 0%, rgba(248, 250, 251, 0) 120%);
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  border-radius: 999rem;
  -webkit-border-radius: 999rem;
  -moz-border-radius: 999rem;
  -ms-border-radius: 999rem;
  -o-border-radius: 999rem;
  padding: 1.2rem;
  display: inline-block;
}
.modal .dlt-modal .modal-body .dlt-icon span {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.24), 0px 9px 16px -4px rgba(0, 0, 0, 0.13), 0px -7px 10px -5px rgba(0, 0, 0, 0.06) inset;
  border-radius: 99rem;
  -webkit-border-radius: 99rem;
  -moz-border-radius: 99rem;
  -ms-border-radius: 99rem;
  -o-border-radius: 99rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
}

.modal-content {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border: none;
}

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Poppins", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;

  background-color:  #fbfbfb;;
  -webkit-overflow-scrolling: touch;
}

.main-content-wrapper .back-arrow {
  width: 3rem;
  height: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  padding: 0.6rem;
}

.main-view-content {
  padding: 2rem;
  margin-left: 24rem;
  padding-top: 9rem;
}

.main-view-content.main-wrapper-w {
  margin-left: 10rem;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input.form-control:focus {
  box-shadow: none;
  outline: 0;
  border-color: var(--primary-color);
}
input.form-control:focus-visible {
  box-shadow: none;
  outline: 0;
}
input.form-control:active {
  box-shadow: none;
  outline: 0;
}

.form-check-input[type=checkbox] {
  border-radius: 0rem;
  cursor: pointer;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  -ms-border-radius: 0rem;
  -o-border-radius: 0rem;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.form-check-input:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(37, 79, 142, 0.2509803922);
}

span.badge {
  display: inline-flex;
  padding: 0rem 0.8rem 0rem 0.8rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  line-height: 1.6rem;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
}
span.badge.bg-green-25 {
  background: #ddf3ef;
  color: #198754;
  border: 0.1rem solid #198754;
}
span.badge.bg-red-25 {
  background: #fadbe1;
  color: #dc3545;
  border: 0.1rem solid #dc3545;
}
span.badge.bg-yellow-25 {
  background: #fff6db;
  color: #ffc107;
  border: 0.1rem solid #ffc107;
}
span.badge.bg-aqua-25 {
  background: #d1f0fa;
  color: #0c4e6e;
  border: 0.1rem solid #0c4e6e;
}
span.badge.bg-blue-25 {
  background: #d6dde4;
  color: #25476a;
  border: 0.1rem solid #25476a;
}

.white-space-nowrap {
  white-space: nowrap;
}

.min-w-20 {
  min-width: 20rem;
}

.form-validation{
  color: red;
}